In [11]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([10, 20, 400, 54])
s1

0     10
1     20
2    400
3     54
dtype: int64

In [5]:
# create a series where the index is alpha
lAges = [50, 50, 20, 18, 8]
lAgesIndex = ["Rohit", "Rohini", "Inika", "Ilakshi", "Silny"]
sAges = pd.Series(lAges, lAgesIndex)
type(sAges)

pandas.core.series.Series

In [10]:
# create a Series using a Dictionary
dict1 = {"Ilakshi":18, "Inika":20, "Rohini":50, "Rohit":50 }
sAges2 = pd.Series(dict1, index=["Inika", "Rohini", "Ilakshi", "Rohit"])
sAges2

Inika      20
Rohini     50
Ilakshi    18
Rohit      50
dtype: int64

In [12]:
#create a series using numpy arrays
arrCars = np.array(["Accent", "Scorpio", "XUV", "Highlander", "Sonata"])
arrYearBought = np.array([2001, 2005, 2012, 2022, 2022])
sCars = pd.Series(arrYearBought, arrCars)
sCars

Accent        2001
Scorpio       2005
XUV           2012
Highlander    2022
Sonata        2022
dtype: int64

In [16]:
arrColor = np.array(["Black", "Beige", "White", "White", "Blue"])
dCars = pd.DataFrame({"Year":arrYearBought, "Color":arrColor}, arrCars, ["Color", "Year"] )
dCars

            Color  Year
Accent      Black  2001
Scorpio     Beige  2005
XUV         White  2012
Highlander  White  2022
Sonata       Blue  2022

In [29]:
sCars.items

<bound method Series.items of Accent        2001
Scorpio       2005
XUV           2012
Highlander    2022
Sonata        2022
dtype: int64>

In [31]:
sPhoneCodes = pd.Series(["+90", "+49", "+33", "+46", "+1", "+91"], ["Turkey", "Germany", "France", "Sweden", "USA", "India"])
sPhoneCodes

Turkey     +90
Germany    +49
France     +33
Sweden     +46
USA         +1
India      +91
dtype: object

In [37]:
sPhoneCodes["Turkey":"Sweden"]

Turkey     +90
Germany    +49
France     +33
Sweden     +46
dtype: object

In [38]:
arrYearBought

array([2001, 2005, 2012, 2022, 2022])

In [39]:
arrYearBought[0:3]

array([2001, 2005, 2012])

In [41]:
sPhoneCodes[2:5:2]

France    +33
USA        +1
dtype: object