In [1]:
age = 52
decades = age // 10
print("The number of decades I have lived is", decades, "\nbut that does not mean I am old")

The number of decades I have lived is 5
but that does not mean I am old

Introduction to Lists

In [8]:
#list of squares
squares = [1, 4, 9, 16, 25, 36]
squares[1:5]

[4, 9, 16, 25]

In [9]:
squares += [49, 64, 81, 100]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
cubes = []
for counter in range(10):
    cubes += [(counter+1)**3]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [18]:
powers = [squares, cubes]
powers

[[1, 4, 9, 16, 25, 36, 49, 64, 81, 100],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]]

In [20]:
powers[0][2]

9

In [24]:
#Basic Fibonacci sequence
a, b = 0, 1
while a<50:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34

In [31]:
# iterate over a list and then a collection
names = ["Rohit", "Rohini", "Inika", "Ilakshi", "Saphira", "Silny"]
for name in names:
    print(name)

ageProfile = {"Rohit":50, "Rohini":50, "Inika":20, "Ilakshi":18, "Saphira":"ageless", "Silny":8}
for name, age in ageProfile.items():
    print (name, age)

Rohit
Rohini
Inika
Ilakshi
Saphira
Silny
Rohit 50
Rohini 50
Inika 20
Ilakshi 18
Saphira ageless
Silny 8

In [35]:
print(type(names), type(ageProfile))

for k in ageProfile.items():
    print(k)

<class 'list'> <class 'dict'>
('Rohit', 50)
('Rohini', 50)
('Inika', 20)
('Ilakshi', 18)
('Saphira', 'ageless')
('Silny', 8)